{{ define "title" }}Info{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}admin/webhooklog">
      <i class="fa fa-chevron-left"></i>Webhook-Logs
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/auth">
      <i class="fa fa-lock"></i>Auth
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/info">
      <i class="fa fa-clock"></i>Info
    </a>
  </li>
{{ end }}

{{ define "content" }}
<h2>Information</h2>
  {{ range .Versions }} 
    <h3>{{.Name}}</h3>

    <ul>
      {{ range .Versions }}
        <li>{{.Title}}: {{ .Value }}</li>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}
