{{ define "title" }}API Listing{{ end }}

{{ define "toolbar" }}
{{ end }}


{{ define "content" }}
<script>
var apiToggleDetail = function ( identifier ) {
    var v = document.querySelector ( "#api_detail_" + identifier );
    if ( v.classList.contains ( "api_detail_shown" ) ) {
        v.classList.remove ( "api_detail_shown" );
    } else {
        v.classList.add ( "api_detail_shown" );
    }
}

var apiShowAll = function ( identifier = "", mode = true ) {
    var v = [];
    if ( identifier == "" ) {
        v = document.querySelectorAll ( ".api_detail" );
    } else {
        v = document.querySelectorAll ( ".api_detail_" + identifier );
    }
    for ( var i = 0; i < v.length; i++ ) {
        if ( mode == true ) {
            v[i].classList.add ( "api_detail_shown" );
        } else {
            v[i].classList.remove ( "api_detail_shown" );
        }
    }

    if ( mode ) {
        document.querySelector ( "#api_expand_all").classList.add ( "hidden" );
        document.querySelector ( "#api_collapse_all").classList.remove ( "hidden" );
    } else {
        document.querySelector ( "#api_expand_all").classList.remove ( "hidden" );
        document.querySelector ( "#api_collapse_all").classList.add ( "hidden" );
    }
}
</script>

<h2>API Listing</h2>
<p>All API endpoints need to be used with a privileged API token in a Cookie (mvoCI_session)</p>
  {{ range $index, $m := .methods }}
  <h3>{{ $m }}
    <small>
      <a href="javascript:apiShowAll ( '{{ $m }}', true );" id="api_expand_all">[Expand all]</a>
      <a href="javascript:apiShowAll ( '{{ $m }}', false );" id="api_collapse_all" class="hidden">[Collapse all]</a>
    </small>
  </h3>
    {{ range $i, $e := $.routingTable }}
    {{ if and $e.Descriptor.Method $e.Descriptor.Fn }}
      <a class="block-link" href="javascript:apiToggleDetail( '{{ $m }}_{{ $i }}' );">
        <span class="block">
          <div class="block-single-line">
            <span class="block-item block-icon">
              <i class="fa fa-share-alt"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ siteurl }}api/v1/{{$i}}
              </span>
              <span class="block-bottom-item">
                  {{ $e.Descriptor.Brief }}
              </span>
            </span>
          </div>
          <div class="api_detail api_detail_{{ $m }}" id="api_detail_{{ $m }}_{{ $i }}">
            <dl class="dl_float">
                <dt>Returns</dt><dd>{{ $e.Descriptor.Returns }}</dd>
                <dt>Notice</dt><dd>{{ $e.Descriptor.Note }}</dd>
                <dt>Parameters</dt>
                  <dd><br />
                    <ul>
                    {{ range $p, $pt := $e.Descriptor.Parameters }}
                    <li>{{ $pt.Name }}: <i>{{ $pt.Ptype }}{{ if $pt.Optional }}, optional{{end}} </i> <small>({{ $pt.Brief }})</small></li>
                    {{ else }}
                      <i>None</i>
                    {{ end }}
                    </ul>
                  </dd>
                <dt>Error-Codes</dt>
                  <dd><br />
                    <ul>
                    {{ range $err := $e.Descriptor.Errors }}
                      <li>{{ $err.Status }}: {{ $err.Reason }}</li>
                    {{ else }}
                      None
                    {{ end }}
                    </ul>
                  </dd>
                </dt>
                <pre>curl {{ if not (eq $m "GET") }}-X {{$m}} {{end}}"{{$.apiHost}}{{ siteurl }}api/v1/{{$i}}?{{ range $p, $pt := $e.Descriptor.Parameters }}{{ if not $pt.Optional }}{{ $pt.Name }}=...&{{ end }}{{ end }}" -H "Cookie: mvoCI_session=..."</pre>
            </dl>
          </div>
        </span>
      </a>

    {{ end }}
      {{ range $ia, $a := $e.Actions }}
      {{ if eq $a.Method $m }}
      <a class="block-link" href="javascript:apiToggleDetail( '{{ $m}}_{{ $i }}_{{ $ia }}' );">
        <span class="block">
          <div class="block-single-line">
            <span class="block-item block-icon">
              <i class="fa fa-share-alt"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ siteurl }}api/v1/{{$i}}/{{$ia}}
              </span>
              <span class="block-bottom-item">
                  {{ $a.Brief }}
              </span>
            </span>
          </div>
          <div class="api_detail api_detail_{{ $m }}" id="api_detail_{{ $m }}_{{ $i }}_{{ $ia }}">
            <dl class="dl_float">
                <dt>Returns</dt><dd>{{ $a.Returns }}</dd>
                <dt>Notice</dt><dd>{{ $a.Note }}</dd>
                <dt>Parameters</dt>
                  <dd><br />
                    <ul>
                    {{ range $p, $pt := $a.Parameters }}
                    <li>{{ $pt.Name }}: <i>{{ $pt.Ptype }}{{ if $pt.Optional }}, optional{{end}} </i> <small>({{ $pt.Brief }})</small></li>
                    {{ else }}
                      <i>None</i>
                    {{ end }}
                    </ul>
                  </dd>
                <dt>Error-Codes</dt>
                  <dd><br />
                    <ul>
                    {{ range $err := $a.Errors }}
                      <li>{{ $err.Status }}: {{ $err.Reason }}</li>
                    {{ else }}
                      None
                    {{ end }}
                    </ul>
                  </dd>
                </dt>
                <pre>curl {{ if not (eq $m "GET") }}-X {{$m}} {{end}}"{{$.apiHost}}{{ siteurl }}api/v1/{{$i}}/{{$ia}}?{{ range $p, $pt := $a.Parameters }}{{ if not $pt.Optional }}{{ $pt.Name }}=...&{{ end }}{{ end }}" -H "Cookie: mvoCI_session=..."</pre>
            </dl>
          </div>
        </span>
      </a>
      {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No API endpoints found</div>
    </div>
  {{ end }}
{{ end }}
