{{ define "content" }}
<h2>Impress</h2>
<p>{{ config "Author.Name"  }}<br>
{{ config "Author.Street" }}<br>
{{ config "Author.Zip" }} {{ config "Author.City" }}</p>
<p>E-Mail: <a href="mailto:{{ config "Author.Email" }}">{{ config "Author.Email" }}</a></p>
<h3>Privacy</h3>
<p>{{ config_html "Author.Privacy" }}</p> 
{{ end }}
{{ define "toolbar" }}{{ end }}
{{ define "title"}}Impress{{end}}
