 {{ define "content" }}  
  <div class="login-form">
    <span class="login-header">Please sign in to the application</span>
    <form method="post">
      <div class="form-field">
        <input type="text" name="auth_extra" placeholder="Username" autofocus />
      </div>
      <div class="form-field">
        <input type="password" name="auth_secret" placeholder="Password" />
      </div>
      <button class="btn-primary">Login</button>
    </form>
  </div>
{{ end }}
{{ define "toolbar" }}{{ end }}
