{{ define "title" }}{{end}}

{{ define "toolbar" }}
  {{ if .user.Superuser }}
    <li>
      <a href="{{ siteurl }}integration">
        <i class="fa fa-chevron-left"></i>Integration
      </a>
    </li>
    <li>
      <a href="{{ siteurl }}oauth/add">
        <i class="fa fa-plus"></i>Add OAuth Token
      </a>
    </li>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h2>OAuth Token</h2>
  {{ render_error_list .errors}}

  <div class="infobox">
    With OAuth-Token you can enable mvoCI to use the APIs of your VCS. For example mvoCI can automatically upload a Release-Build to Gitea, when it receives a corresponding Webhook-Event. To authenticate with the VCS, a Client-ID and a Client-Secret is needed. With that, mvoCI makes a request for a Token, you have to acknowledge. Then mvoCI can use that Token to authenticate itself as you(!) in the VCS.<br /><br />
    The VCS will have additional checks, that the Redirect-URI is correct -- you'll have to create a new Application in your VCS, which then gives you a Client-ID and Client-Secret. It is important to use the Redirect-URI there, which mvoCI gives you.<br /><br />
  </div>

  {{ range .oauth }}
      <div class="block-link">
        <span class="block">
          <span class="left-side">
              <span class="block-item block-icon oauth oauth-{{ .Api }}">
            </span>
            <span class="block-item">
              <span class="block-top-item">
                {{ .Name }}
              </span>
              <span class="block-bottom-item block-fa">
                  {{ .ClientId }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .CreatedAt }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
                <a href="{{ siteurl }}oauth/{{.ID}}/invalidate" title="Invalidate" class="fa fa-trash"></a>
            </span>
          </span>
        </span>
      </div>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>You have no OAuth-Token</div>
    </div>
    {{ end }}
{{ end }}
