{{ define "title" }}{{ if eq .mode "add" }}Add Reposiroty{{ else }}Edit Repository{{end}}{{end}}
{{ define "toolbar" }}
  {{ if eq .mode "add"}}
  <li>
    <a href="{{ siteurl }}repo">
      <i class="fa fa-chevron-left"></i>Repositories
    </a>
  </li>
  {{ else }}
  <li>
    <a href="{{ siteurl }}repo/view/{{ .repo.ID }}">
      <i class="fa fa-chevron-left"></i>{{ .repo.Name }}
    </a>
  </li>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h2>{{ if eq .mode "add" }}Add Repository{{ else }}Edit Repository{{ end }}</h2>
  {{ render_error_list .errors }}
  <div class="infobox">
    You must ensure that the mvoCI server has read permission for
    the clone URL that you specify below. The URL is stored unencrypted
    in the database, thus you should <b>avoid</b> using the
    <code class="repo_code">https://username:password@host/name</code> format.
  </div>
  <form method="post" action="{{ if eq .mode "add"}}{{ siteurl }}repo/post/add{{else}}{{ siteurl }}repo/post/edit/{{.repo.ID}}{{end}}">
    <div class="field required">
      <label for="repo_name">Name</label>
      <input type="text" id="repo_name" name="repo_name" value="{{ if eq .mode "add" }}{{ else }}{{ .repo.Name }}{{ end}}" placeholder="Name"/>
    </div>
    <div class="field required">
      <label for="repo_clone_url">Clone URL</label>
      <input type="text" id="repo_clone_url" name="repo_clone_url" value="{{ if eq .mode "add" }}{{ else }}{{ .repo.CloneUrl }}{{ end }}" placeholder="https://..." />
      <span id="repo_check_result" class="infobox" style="display: none;"></span>
    </div>
    <div class="field required">
      <label for="repo_default_branch">Default Build Branch</label>
      <div class="infobox">
        The default branch for building from the web-interface.
        This default setting is ignored, when the build is triggered
        via a webhook.
      </div>
      <input type="text" id="repo_default_branch" name="repo_default_branch" value="{{ if eq .mode "add" }}main{{ else }}{{ .repo.DefaultBranch }}{{end}}" placeholder="main" />
    </div>
    {{ if eq .mode "edit" }}
    <div class="field">
      <label for="repo_secret">Secret</label>
      <div class="infobox">
        The secret key that is sent by the Git server for
        authentication purpose. The default value is a randomly
        generated UUID that serves the purpose. You can also leave
        the field blank if the secret sent by the server is an empty string.
      </div>
      <input type="text" id="repo_secret" name="repo_secret" value="{{ .repo.Secret  }}" />
    </div>
    {{ end }}
    <div class="field">
      <label for="repo_push_build_script">Build script</label>
      <div class="infobox">
        <b>Bash</b> script to be executed, when a build is requested either by user or by a Push-Event through a Webhook.
        Use normal Bash-syntax.
        After the script ran the complete directory will be zipped (without <i>.git</i>-directory) so you may want to clean it from code.
        Arguments in the Webhook-URL are available via Environment variables, as are commit message, author and commit hashes as well as the event-type (release, push).
      </div>
      <textarea id="repo_pushbuild_script" name="repo_push_build_script">{{ if eq .mode "add" }}{{ else }}{{ if .PushBuildScript }}{{ .PushBuildScript}}{{else}}{{ .repo.BuildScript }}{{end}}{{ end }}</textarea>
    </div>
    <div class="field">
      <label for="repo_release_build_script">[Deprecated] Build script for Release-Events</label>
      <div class="infobox">
          The division between release and push-build scripts is deprecated. This release-script will loose its meaning very soon. Please consolidate both scripts into one, take a look into the environment variables for the build-event (<i>MVO_EVENT</i>).
      </div>
      <textarea id="repo_release_build_script" name="repo_release_build_script">{{ if eq .mode "add" }}{{ else }}{{if .ReleaseBuildScript}}{{ .ReleaseBuildScript}}{{else}}{{ .repo.BuildScript }}{{end}}{{ end }}</textarea>
    </div>
    <div class="field">
      <label>Build Hooks</label>
      <div class="infobox">
        Hooks are like callbacks for build your repository. The Webhook will enable integration with Github, Gitea and the like. The local build setup will enable a hook from the local machine. It can be triggered only from the local machine with the <em>mvoctl</em> script. Manual builds from the web interface are always enabled.
      </div>
      <label class="checkbox">
        <input type="checkbox" name="repo_webhook_enable" {{ if .repo.WebHookEnable }}checked{{ end }} />
        enable Webhook
      </label>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="repo_localbuild_enable" {{ if .repo.LocalBuildEnable }}checked{{ end }} />
        enable local build (from local machine)
      </label>
    </div>
    <div class="field">
      <label>Misc Settings</label>
      <label class="checkbox">
        <input type="checkbox" name="repo_keepbuilds_enable" {{ if .repo.KeepBuilds }}checked{{ end }} />
        Keep Artifacts
      </label>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="repo_public_enable" {{ if .repo.Public }}checked{{ end }} />
        Public Repository
      </label>
    </div>
  <button class="btn-primary">{{ if eq .mode "add" }}Add Repository{{ else }}Update{{ end }}</button>
  </form>
{{ end }}
