{{ define "title" }}Webhook Logs{{ end }}

{{ define "toolbar" }}
    {{ if gt .whlog.Repository.ID 0 }}
    <li>
      <a href="{{ siteurl }}repo/view/{{ .whlog.Repository.ID }}">
        <i class="fa fa-chevron-left"></i>{{ .whlog.Repository.Name }}
      </a>
    </li>
    {{ end }}
    {{ if gt .whlog.Build.ID 0 }}
    <li>
      <a href="{{ siteurl }}build/{{ .whlog.Build.ID }}">
        <i class="fa fa-chevron-right"></i>View Build
      </a>
    </li>
    {{ end }}
{{ end }}

{{ define "content" }}
  <h2>Webhooklog</h2>
    <dl>
      <dt>Status</dt>
      <dd>{{ .whlog.Status }}</dd>
      <dt>API</dt>
      <dd>{{ .whlog.API }}</dd>
      <dt>HTTPStatus</dt>
      <dd>{{ .whlog.ResponseStatus }}</dd>
      <dt>HTTPBody</dt>
      <dd>{{ .whlog.ResponseBody }}</dd>
      <dt>Repository</dt>
      <dd>{{ if .whlog.Repository }}<a href="{{ siteurl }}repo/view/{{ .whlog.Repository.ID }}">{{ .whlog.Repository.Name }}</a>{{ end }}</dd>
    </dl>
    <h3>Request</h3>
    <pre class="build-log"><code>{{ .whlog.Request }}</code></pre>
{{ end }}
